{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{#{% block menu %}{% if not object.project.status == 'closed' %}#}
{#    <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Действия#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#            <a class="dropdown-item" href="{% url 'issue_update' object.pk%} ">Редактирование</a>#}
{#            <a class="dropdown-item" href="{% url 'issue_delete' object.pk%} ">Удаление</a>#}
{#        </div>#}
{#      </li>{% endif %}#}
{#{% endblock %}#}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Заказ
          </div>
          <div class="card-body">
            <h5 class="card-title">Заказ от {{ order.first_name }} {{ order.last_name }}</h5>
            <p class="card-text">
              <p> Список : </p>
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Товар</th>
                      <th scope="col">Количество</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in order.orderproduct.all %}
                    <tr>
                      <td>{{ product.product }}</td>
                      <td>{{ product.amount }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            <hr>
            <p><a href="{% url 'webapp:order_product_create' order.pk %}" class="btn btn-primary">Добавить товар</a></p>
            <p>Статус заказа: {{ order.get_status_display }}</p>
            <p>Телефон: {{ order.phone }}</p>
            <p>Email: {{ order.email }}</p>
          </div>
          <div class="card-footer text-muted">
              <p>Дата создания : {{ order.created_at }} </p>
          </div>
        </div>
   </div>
{% endblock %}