{% extends 'base.html' %}
{% block menu %}
    {% if perms.webapp.add_order %}
        <li class="nav-item"><a href="{% url 'webapp:order_create' %}" class="nav-link">Добавить заказ</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="bg-info text-white text-center">Заказы:</h1>
    {% csrf_token %}
    <div class="card-deck text-center">
            {% for order in orders %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"> Заказ от {{ order.last_name }} {{ order.first_name }}</h5>
                      <p class="card-text">Телефон : {{ order.phone }}</p>
                      <p class="card-text">Email : {{ order.email }}</p>
                      <p class="card-text">Дата создания : {{ order.created_at }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                      <a href="{% url 'webapp:order_detail' order.pk %}" class="btn btn-info" >Открыть</a>
                      <a href="{% url 'webapp:order_update' order.pk %}" class="btn btn-info" >Редактировать</a>
                      {% if perms.webapp.deliver_order %}
                          <a href="{% url 'webapp:order_deliver' order.pk %}" class="btn btn-danger" >Доставить</a>
                      {% endif %}
                      {% if perms.webapp.cancel_order %}
                          <a href="{% url 'webapp:order_cancel' order.pk %}" class="btn btn-danger" >Отменить</a>
                      {% endif %}
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
{#    {% if perms.webapp.add_issue %}#}
{#    <a href="{% url 'add_issue' %}" class="button2" tabindex="0">+</a>#}
{#    {% endif %}#}
{% endblock %}